version: "3"
services:
  node-red:
    image: nodered/node-red
    restart: always
    container_name: node-red
    ports:
      - 1880:1880
    user: "1000:1000"
    volumes:
      - ./node-red:/usr/src/node-red/* 

  influxdb:
  image: influxdb
  restart: always
  container_name: influxdb
  ports:
    - 8086:8086
  volumes:
    - ./influxdb/data:/var/lib/influxdb2
  platforms:
    - architecture: arm
      variant: v7
      image: arm32v7/influxdb
    - architecture: amd64
      image: influxdb

  grafana:
    image: grafana/grafana-oss
    restart: always
    container_name: grafana-oss
    ports:
      - 3000:3000
    user: "472:472"
    volumes:
      - ./grafana/data:/var/lib/grafana/*

  portainer:
    image: portainer/portainer-ce
    restart: always
    container_name: portainer
    ports:
      - 9000:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

  mosquitto:
    image: eclipse-mosquitto
    restart: always
    container_name: mosquitto
    ports:
      - 1883:1883
    volumes:
      - ./mosquitto:/mosquitto/*

volumes:
  portainer_data:
