version: "3"
services:
  node-red:
    image: nodered/node-red
    restart: always
    container_name: node-red
    ports:
      - 1880:1880
    user: "1000:1000"
    volumes:
      - ./node-red:/usr/src/node-red/* 

  influxdb:
    image: influxdb
    restart: always
    container_name: influxdb
    ports:
      - 8086:8086
    volumes:
      - ./influxdb/data:/var/lib/influxdb2

  grafana:
    image: grafana/grafana
    restart: always
    container_name: grafana
    ports:
      - 3000:3000
    user: "472:472"
    volumes:
      - ./grafana/data:/var/lib/grafana/*

  mosquitto:
    image: eclipse-mosquitto
    restart: always
    container_name: mosquitto
    ports:
      - 1883:1883
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    command: "mosquitto -c /mosquitto/config/mosquitto.conf"

  portainer:
    image: portainer/portainer-ce
    restart: always
    container_name: portainer
    ports:
      - 9000:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

volumes:
  portainer_data:
